{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	{% block title %} {% endblock %}
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/icon.png">

	<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">

	<!-- Cusom css -->
   <link rel="stylesheet" href="{% static 'css/custom.css' %}">

	<!-- Modernizer js -->
	<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
</head>
<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		<!-- Header -->
		<header id="wn__header" class="header__area header__absolute sticky__header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-6 col-lg-2">
						<div class="logo">
							<a href="index.html">
								<img src="images/logo/logo.png" alt="logo images">
							</a>
						</div>
					</div>
					<div class="col-lg-8 d-none d-lg-block">
						<nav class="mainmenu__nav">
							<ul class="meninmenu d-flex justify-content-start">
								<li class="drop with--one--item"><a href="{% url 'library:book_list' %}">হোম</a></li>
								<li class="drop"><a href="shop-grid.html">বইসমূহ </a>
									<div class="megamenu mega03">
										<ul class="item item03">
											<li class="title">বিষয়</li>
                                            {% for object in category_list %}
											<li><a href="{% url 'library:single_category_details' object.slug %}">{{ object.name }}</a></li>
                                            {% endfor %}
										</ul>
										<ul class="item item03">
											<li class="title">লেখক</li>
											 {% for object in author_list %}
                                                <li><a href="{% url 'library:single_author_details' object.slug %}">{{ object.full_name }}</a></li>
                                            {% endfor %}

                                            {% for object in editors %}
                                                <li><a href="{% url 'library:single_editor_list' object.slug %}">{{ object.editor }}</a></li>
                                            {% endfor %}

                                            {% for object in translators %}
                                                <li><a href="{% url 'library:single_translator_list' object.slug %}">{{ object.translator }}</a></li>
                                            {% endfor %}
										</ul>
										<ul class="item item03">
											<li class="title">প্রকাশনী</li>
											{% for object in publisher %}
                                                <li><a href="{% url 'library:single_publisher_list' object.slug %}">{{ object.publisher }}</a></li>
                                            {% endfor %}
										</ul>
                                        <ul class="item item03">
											<li class="title">ভাষা</li>
											{% for object in language_list %}
                                                <li><a href="{% url 'library:single_language_list' object.slug %}">{{ object.language }}</a></li>
                                            {% endfor %}
										</ul>
									</div>
								</li>
								<li><a href="contact.html">যোগাযোগ </a></li>
							</ul>
						</nav>
					</div>
					<div class="col-md-6 col-sm-6 col-6 col-lg-2">
						<ul class="header__sidebar__right d-flex justify-content-end align-items-center">
							<li class="shop_search"><a class="search__active" href="#"></a></li>
						</ul>
					</div>
				</div>

			</div>
		</header>
		<!-- //Header -->

    <!-- Start Search Popup -->
		<div class="brown--color box-search-content search_active block-bg close__top">
			<form id="search_mini_form" class="minisearch" action="{% url 'library:book_list' %}">
				<div class="field__search">
					<input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search entire store here...">
					<div class="action">
						<a href="#"><i class="zmdi zmdi-search"></i></a>
					</div>
				</div>
			</form>
			<div class="close__wrap">
				<span>close</span>
			</div>
		</div>
		<!-- End Search Popup -->

        {% block content %}

        {% endblock %}

		<!-- Footer Area -->
		<footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
			<div class="copyright__wrapper">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="copyright">
								<div class="copy__right__inner text-left">
									<p>Copyright <i class="fa fa-copyright"></i> Developed by<a href="http://prosenjit-das.herokuapp.com/portfolio/"> Prosenjit Das </a> 2019 All Rights Reserved</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</footer>
		<!-- //Footer Area -->
		<!-- QUICKVIEW PRODUCT -->
		<div id="quickview-wrapper">
		    <!-- Modal -->
		    <div class="modal fade" id="productmodal" tabindex="-1" role="dialog">
		        <div class="modal-dialog modal__container" role="document">
		            <div class="modal-content">
		                <div class="modal-header modal__header">
		                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                </div>
		                <div class="modal-body">
		                    <div class="modal-product">
		                        <!-- Start product images -->
		                        <div class="product-images">
		                            <div class="main-image images">
		                                <img alt="big images" src="images/product/big-img/1.jpg">
		                            </div>
		                        </div>
		                        <!-- end product images -->
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!-- END QUICKVIEW PRODUCT -->
	</div>
	<!-- //Main wrapper -->

	<!-- JS Files -->
	<script src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/plugins.js' %}"></script>
	<script src="{% static 'js/active.js' %}"></script>

</body>
</html>
