{% extends 'boighor/base.html' %}
{% load static %}
{% block title %}<title>Home</title>{% endblock %}


{% block content %}
		<!-- Start Search Popup -->
		<div class="brown--color box-search-content search_active block-bg close__top">
			<form id="search_mini_form" class="minisearch" action="#">
				<div class="field__search">
					<input type="text" placeholder="Search entire store here...">
					<div class="action">
						<a href="#"><i class="zmdi zmdi-search"></i></a>
					</div>
				</div>
			</form>
			<div class="close__wrap">
				<span>close</span>
			</div>
		</div>
		<!-- End Search Popup -->

		<!-- Start Best Seller Area -->
		<section class="wn__bestseller__area bg--white pt--80  pb--30">
			<div class="container">

				<!--start my post-->

				<div class="container">
					<div class="row">
						<div class="col-md-4">

							{% for object in object_list %}

								<a href="{% url 'library:book_details' slug=object.slug %}"><img src="{{ MEDIA_URL }}{{ object.image.url }}" style="width: 150px;height: 200px"></a>

							{% endfor %}
						</div>
					</div>
				</div>

				<!--end my post-->


					<!-- End Single Tab Content -->
				</div>
			</div>
		</section>

	<section class="wn__bestseller__area bg--white pt--80  pb--30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section__title text-center">

							<div class="pagination">
								<span class="step-links">
									{% if page_obj.has_previous %}
										<a href="?page={{ page_obj.previous_page_number }}" style="color: #13b521">Previous</a>
									{% endif %}

									<span class="current">
										Page {{ page_obj.number }} of {{ paginator.num_pages }}.
									</span>

									{% if page_obj.has_next %}
										<a href="?page={{ page_obj.next_page_number }}" style="color: #13b521">Next</a>
									{% endif %}
								</span>
							</div>

							{% if is_paginated %}
							  <ul class="pagination">
								{% if page_obj.has_previous %}
								  <li><a href="?page={{ page_obj.previous_page_number }}">Previous....</a></li>
								{% else %}
								  <li class="disabled"><span>&laquo;</span></li>
								{% endif %}
								{% for i in paginator.page_range %}
								  {% if page_obj.number == i %}
									<li class="active"><span>{{ i }}.... <span class="sr-only">(current)</span></span></li>
								  {% else %}
									<li><a href="?page={{ i }}">{{ i }}.... </a></li>
								  {% endif %}
								{% endfor %}
								{% if page_obj.has_next %}
								  <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
								{% else %}
								  <li class="disabled"><span>&raquo;</span></li>
								{% endif %}
							  </ul>
							{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}