{% extends 'boighor/base.html' %}
{% load static %}
{% block title %}<title>{{ object.full_name}}</title>{% endblock %}
{% block content %}
    	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
        <!-- Start main Content -->
        <div class="maincontent bg--white pt--80 pb--55">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-9 col-12">
        				<div class="wn__single__product">
        					<div class="row">
        						<div class="col-lg-6 col-12">
        							<div class="wn__fotorama__wrapper">

	        							<div class="fotorama wn__fotorama__action" data-nav="thumbs">
                                            <div>
                                                <h1 style="color: #0b2e13">{{ object.full_name }}</h1><br>
                                                {% if object.date_of_birth %}
                                                    <h3>Date Of Birth: {{ object.date_of_birth }}</h3>
                                                {% endif %}

                                                {% if object.date_of_death %}
                                                    <h3>Date of Death: {{ object.date_of_death }}</h3>
                                                {% endif %}
                                            </div>
                                            {% for book in object.book_set.all %}
                                                <h3><span><a href="{% url 'library:book_details' book.slug %}"><img src="{{ MEDIA_URL }}{{ book.image.url }}" style="width: 150px;height: 200px"> {{ book }}</a><br></span></h3>
                                            {% endfor %}
	        							</div>

        							</div>
        						</div>
{#        						<div class="col-lg-6 col-12">#}
{#        							<div class="product__info__main">#}
{#        								<h1>{{ object.name_of_the_book }}</h1>#}
{#        								<div class="price-box">#}
{#        									<span>{% for book in object.book_set.all %} <a href="{% url 'library:book_details' book.slug %}"><img src="{{ MEDIA_URL }}{{ book.image.url }}" style="width: 150px;height: 200px"> {{ book }}</a> <br>{% endfor %}<br></span>#}
{#        								</div>#}
{#        							</div>#}
{#        						</div>#}

{#                                <!--start my post-->#}
{#                                <div class="container">#}
{#                                    <div class="row">#}
{#                                        <div class="col-md-3 support" style="text-align: center">#}
{#                                            <h1>{{ object.name_of_the_book }}</h1>#}
{#                                            <span>{% for book in object.book_set.all %} <a href="{% url 'library:book_details' book.slug %}"><img src="{{ MEDIA_URL }}{{ book.image.url }}" style="width: 150px;height: 200px"> <h3>{{ book }}</h3></a> <br>{% endfor %}<br></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <!--end my post-->#}


                            <div class="container" >
                                <div class="row" >
                                    {% for book in object.book_set.all %}
                                    <div class="col-md-3 support"  style="text-align: center">
                                     <a href="{% url 'library:book_details' book.slug %}">
                                            <img src="{{ MEDIA_URL }}{{ book.image.url }}" style="width: 150px;height: 200px">
                                            <h3>{{ book }}</h3>
                                        </a>
                                    </div>
                                    <br>{% endfor %}<br>
                                </div>
                            </div>

        					</div>
                        <span>Total Book: {{ object.book_set.count }}</span>
        				</div>
        			</div>

        		</div>
        	</div>
        </div>
        <!-- End main Content -->
	</div>
	<!-- //Main wrapper -->

{% endblock %}